* img{
    cursor: pointer;
}

/* Defines the main grid that holds the 4 columns */
div#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}

/* Styles the area where the burger is assembled */
div#order {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}

/* Styles the images in the order div */
div#order img {
    margin-bottom: -50px;
}

/* Styles the headings and the category columns */
h1, h2, div.category {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}